In [41]:
import pandas as pd

conditions = ["confirmed", "deaths", "recovered"]

def make_global_df():
    def make_df(condition):
        time_df = pd.read_csv(f"data/time_{condition}.csv")
        time_df = time_df.drop(["Province/State", "Country/Region","Lat", "Long"], axis=1).sum().reset_index(name=condition)
        time_df = time_df.rename(columns={"index": "date"})
        return time_df
    
    final_df = None

    for condition in conditions:
        condition_df = make_df(condition)
        if final_df is None:
            final_df = condition_df
        else:
            final_df = final_df.merge(condition_df)

df = make_global_df("Iran")
df

        date  confirmed  deaths  recovered
0    1/22/20          0       0          0
1    1/23/20          0       0          0
2    1/24/20          0       0          0
3    1/25/20          0       0          0
4    1/26/20          0       0          0
..       ...        ...     ...        ...
349   1/5/21    1255620   55748    1029028
350   1/6/21    1261903   55830    1040521
351   1/7/21    1268263   55933    1050553
352   1/8/21    1274514   56018    1058654
353   1/9/21    1280438   56100    1067466

[354 rows x 4 columns]